{
    "openapi": "3.0.0",
    "info": {
        "title": "REVREBEL Modular SEO & Hotel Commercial Audit API",
        "version": "1.0.0",
        "description": "Enterprise website evaluation pipeline optimizing technical SEO, hospitality telemetry schema mapping, and performance metrics tracking."
    },
    "servers": [
        {
            "url": "https://seo-api.revrebel.io",
            "description": "Production Environment"
        }
    ],
    "paths": {
        "/health": {
            "get": {
                "summary": "Health Status Verification",
                "responses": {
                    "200": {
                        "description": "Service online confirmation tracker",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "status": {
                                            "type": "string",
                                            "example": "UP"
                                        },
                                        "timestamp": {
                                            "type": "string",
                                            "format": "date-time"
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        },
        "/api/audit": {
            "post": {
                "operationId": "auditSeoPage",
                "summary": "Execute Commercial Site Diagnostic Evaluation",
                "security": [
                    {
                        "ApiKeyAuth": []
                    }
                ],
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "type": "object",
                                "required": [
                                    "url"
                                ],
                                "properties": {
                                    "url": {
                                        "type": "string",
                                        "format": "uri",
                                        "example": "https://example.com"
                                    },
                                    "renderMode": {
                                        "type": "string",
                                        "enum": [
                                            "static",
                                            "browser"
                                        ],
                                        "default": "static"
                                    },
                                    "includePerformance": {
                                        "type": "boolean",
                                        "default": false
                                    },
                                    "includeAccessibility": {
                                        "type": "boolean",
                                        "default": false
                                    },
                                    "viewport": {
                                        "type": "string",
                                        "enum": ["desktop", "tablet", "mobile"],
                                        "default": "desktop",
                                        "description": "Viewport preset for browser rendering mode."
                                    }
                                }
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Complete Consolidated Structural Audit Payload Response",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "success": {
                                            "type": "boolean",
                                            "example": true
                                        },
                                        "auditId": {
                                            "type": "string",
                                            "format": "uuid"
                                        },
                                        "status": {
                                            "type": "string",
                                            "example": "completed"
                                        },
                                        "result": {
                                            "type": "object"
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Security layer token authentication violation"
                    },
                    "400": {
                        "description": "SSRF or invalid URL specification rejection payload"
                    }
                }
            }
        },
        "/api/audit/{auditId}": {
            "get": {
                "operationId": "getAuditRun",
                "summary": "Retrieve a specific audit run by its ID",
                "security": [
                    {
                        "ApiKeyAuth": []
                    }
                ],
                "parameters": [
                    {
                        "name": "auditId",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "format": "uuid"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "The requested audit run",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Audit run not found"
                    }
                }
            }
        },
        "/api/audits": {
            "get": {
                "operationId": "listAuditRuns",
                "summary": "List recent audit runs",
                "security": [
                    {
                        "ApiKeyAuth": []
                    }
                ],
                "parameters": [
                    {
                        "name": "domain",
                        "in": "query",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "limit",
                        "in": "query",
                        "schema": {
                            "type": "integer",
                            "default": 10
                        }
                    },
                    {
                        "name": "offset",
                        "in": "query",
                        "schema": {
                            "type": "integer",
                            "default": 0
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "A list of recent audit runs",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object"
                                }
                            }
                        }
                    }
                }
            }
        }
    },
    "components": {
        "securitySchemes": {
            "ApiKeyAuth": {
                "type": "apiKey",
                "in": "header",
                "name": "x-api-key"
            }
        }
    }
}